.add-superuser-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.add-superuser-form {
    background: var(--tender-card-bg, white);
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

    .add-superuser-form h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        text-align: center;
    }

    .add-superuser-form label {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        color: #333;
    }

    .add-superuser-form input {
        padding: 0.5rem;
        margin-top: 0.25rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
    }

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.cancel-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
}

.submit-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    width: 150px;
    border-radius: 6px;
    cursor: pointer;
}

    .cancel-btn:hover,
    .submit-btn:hover {
        opacity: 0.9;
    }

/* Toast Message for successful login */
.toast-notification {
    position: fixed;
    bottom: -50px; /* start below screen */
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 1000;
    opacity: 0;
    transition: all 0.4s ease;
}

    /* slide up and fade in */
    .toast-notification.show {
        bottom: 20px;
        opacity: 0.9;
    }

/* color variations */
.toast-red {
    background-color: #e74c3c; /* red */
}

.toast-green {
    background-color: #2ecc71; /* green */
}

