
.spinner-container {
    display: flex;
    flex-direction: column; /* stack spinner and text */
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.spinner {
    width: 44px;
    height: 44px;
    border: 4px solid #FCF8AE;
    border-top: 4px solid #33497D;
    border-right: 4px solid #5571A6;
    border-left: 4px solid #CD4F6E;
    border-radius: 50%;
    animation: rotateFade 1.4s ease-in-out infinite;
    margin-bottom: 10px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
}

.loading-text {
    font-size: 1rem;
    color: var(--heading-text);
}

@keyframes rotateFade {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: rotate(180deg);
        opacity: 0.85; /* softer fade */
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}
