.forgot-password-modal {
    background-color: #ffffff;
    border: 1px solid #c3cbe3;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.forgot-password-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2b3b66;
    margin-bottom: 20px;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #f2f7ff;
    padding: 20px;
    border-radius: 8px;
}

    .forgot-password-form label {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-weight: 500;
        color: #2b3b66;
        font-size: 0.95rem;
    }

    .forgot-password-form input {
        flex: 1;
        padding: 10px 12px;
        font-size: 15px;
        border-radius: 8px;
        background-color: var(--dropdown-bg);
        color: black;
        border: 1px solid var(--dropdown-border);
        transition: border-color 0.2s, box-shadow 0.2s;
    }

.forgot-message {
    margin-top: 10px;
    font-size: 0.85rem;
    
}

.forgot-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.submit-btn {
    background-color: #3d5ea9;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}
