.forgot-password-modal {
    background-color: #34497A;
    border: 1px solid #273E73;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.forgot-password-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #e0e0e0;
    margin-bottom: 20px;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
}

    .forgot-password-form label {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-weight: 500;
        color: #e0e0e0;
        font-size: 0.95rem;
    }

    .forgot-password-form input {
        flex: 1;
        padding: 10px 12px;
        font-size: 15px;
        border-radius: 8px;
        background-color: var(--dropdown-bg);
        color: var(--text-color);
        border: 1px solid var(--dropdown-border);
        transition: border-color 0.2s, box-shadow 0.2s;
        margin-top: 5px;
    }

.forgot-message {
    margin-top: 10px;
    font-size: 0.85rem;
    
}

.forgot-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.send-code-btn {
    background-color: rgba(255, 255, 255, 0.08);
    color: #fff;
    border: 1px solid #4B659A;
    width: 100%;
    max-width: 250px;
}

.form-helper-text {
    font-size: 0.85rem;
    color: rgb(147, 183, 221); /* Or use your theme's sub-text color */
    text-align: center;
    margin-top: -5px; /* Pulls it closer to the input box */
}